<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our Job Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Job Posts</h1>
    @using JobBoard.Models;
      @if (Model.Count == 0)
      {
        <p>There are no jobs available.</p>
      }
      <ul>
        @foreach (JobPost post in Model)
        {
          <li><a href="/jobposts/@post.Id">@post.Title</li>
        }
      </ul>

    <a href='/jobposts/new'>Add a new job</a>

    <form action="/jobposts/delete" method="post">
      <button type="submit" name="button">Clear All Jobs</button>
    </form>
  </body>
</html>